<!doctype html>
<html class="no-js" lang="{{lang}}">
    <head>
        <meta charset="UTF-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{trad.siteTitle}}{% if pageTitle %} | {{pageTitle}}{% endif %}
         </title>
        <link rel="stylesheet" href="css/main.css" media="all">
    </head>