{# SIMPLE USE OF TRAD VARIABLE IN private/data/{lang}.json #}
<div class="screen screen--1">
    <div>
        <svg class="example__logo" viewbox="0 0 1000 732.42" xmlns="http://www.w3.org/2000/svg">
            <g data-name="Calque 2" id="Calque_2">
                <g id="Logos">
                    <g data-name="Logo Noir" id="Logo_Noir">
                        <path d="M985,477.61a170.77,170.77,0,0,0-40.18-55.49,181.66,181.66,0,0,0-58.46-35.55c-1.17-.44-2.35-.87-3.52-1.29h86.24V195.44H692.53a182,182,0,0,0-72,14.42,182.45,182.45,0,0,0-97.4,97.4q-2.7,6.32-4.9,12.82a279,279,0,0,0-50.21-71.48,267.86,267.86,0,0,0-87.12-59.53c-33.22-14.19-69.23-21.38-107-21.38a212,212,0,0,0-39.84,3.91,230.83,230.83,0,0,0-38.93,11.09c-1.49.58-3,1.17-4.45,1.78V0H0V450.34c0,40.56,7.22,78.51,21.46,112.77s34,64.23,58.81,89.21a271.15,271.15,0,0,0,193.66,79.79l2.22,0-.6.33H816.23a182.25,182.25,0,0,0,129.9-53.93,190.88,190.88,0,0,0,39.1-57.79A178,178,0,0,0,1000,548.65C1000,523.26,995,499.36,985,477.61ZM273.93,696.43q-49.21,0-92.55-18.29a234,234,0,0,1-75.79-51q-32.46-32.67-51.18-77.75T35.68,450.34V35.68H155V253.46a108,108,0,0,1,23.3-21.78A137.69,137.69,0,0,1,208,216a194.38,194.38,0,0,1,32.88-9.36,175,175,0,0,1,33.1-3.27q49.67,0,93,18.51A231.12,231.12,0,0,1,442.5,273.5q32.22,33.11,51,78.18t18.73,98.66q0,54.87-18.73,100.18t-51,77.74a227.31,227.31,0,0,1-75.57,50.31Q323.58,696.44,273.93,696.43Zm678.63-90.07a154.51,154.51,0,0,1-31.8,47,146.37,146.37,0,0,1-47,31.8,144.85,144.85,0,0,1-57.49,11.54H411a261.52,261.52,0,0,0,56.82-43.33,270.55,270.55,0,0,0,52.34-75.14H816.23a29.76,29.76,0,0,0,29.62-29.62q0-12.63-8.72-16.55t-20.9-3.92H692.53a143.48,143.48,0,0,1-57.93-11.76A149,149,0,0,1,556,437.14a151.17,151.17,0,0,1,0-115.86,146.76,146.76,0,0,1,78.62-78.61,145.9,145.9,0,0,1,57.93-11.55H933.39V349.6H692.53a29.74,29.74,0,0,0-29.62,29.61,29.7,29.7,0,0,0,8.71,21.56,28.14,28.14,0,0,0,20.91,8.93h123.7a161,161,0,0,1,57.49,10.24,145.45,145.45,0,0,1,47,28.53,134.67,134.67,0,0,1,31.8,44q11.76,25.71,11.76,56.19A142,142,0,0,1,952.56,606.36Z"/>
                        <path d="M357.56,359.74a116.8,116.8,0,0,0-37.68-26.57,112,112,0,0,0-45.95-9.58,102.25,102.25,0,0,0-46,10.67,126.77,126.77,0,0,0-37.67,28.31A132.26,132.26,0,0,0,165,403.08a126.28,126.28,0,0,0-9.14,47.26A134.93,134.93,0,0,0,165,500.43a123.77,123.77,0,0,0,25.27,40.07A119.85,119.85,0,0,0,228,567.29a112.62,112.62,0,0,0,91.9,0,119.78,119.78,0,0,0,37.68-26.79A127,127,0,0,0,383,500.43a132.07,132.07,0,0,0,9.37-50.09A133.76,133.76,0,0,0,383,400,126.4,126.4,0,0,0,357.56,359.74Z"/>
                    </g>
                </g>
            </g>
        </svg>
        <h1 class="example__title">{{trad.title}}</h1>
        <p class="example__description">{{trad.description}}</p>
    </div>
</div>
