{# INTEGRATION OF ITEMS IN /public #}

<div class="screen screen--3">
    <h2 class="example__title example__title--switch">See more :</h2>
    

    <ul class="example__more">
        <li>Structure / TWIG : <a href="https://twig.symfony.com/doc/2.x/">https://twig.symfony.com/doc/2.x/</a></li>
        <li>Styles / SASS : <a href="https://sass-lang.com/documentation">https://sass-lang.com/documentation</a></li>
        <li>Task : <a href="https://gulpjs.com/docs/en/getting-started/quick-start">https://gulpjs.com/docs/en/getting-started/quick-start</a></li>
    </ul>

    {# SOME PHP FUNCTIONS #}
    <div class="example__mentions">
        <p class="example__date">© {{ "now"|date("Y") }} - <a href="https://gitlab.com/jvenerosy">jvenerosy</a></p>
    </div>
</div>
