{# INTEGRATION OF ITEMS IN /public #}

<div class="screen screen--2">
    <h2 class="example__title">Some examples</h2>
    <img alt="" class="example__img" src="public/img/love.gif">

    {# SOME LOOPS WITH IF #}
    <div class="example__grid">
        {% for item in trad.items %}
            <div class="example__item{% if item.isActive == true %} example__item--active{% endif %}">
                <img src="{{item.picture}}" alt="" class="example__item-picture">
                <div class="example__item-profil">
                    <p class="example__firstname">First name: {{item.name.first}}</p>
                    <p class="example__lastname">Last name: {{item.name.last}}</p>
                    {# LOOP IN LOOP #inception :) #}
                    <p class="example__friends">Friends:
                        {% for friend in item.friends %}
                            {{friend.name}}
                            {% if not loop.last %},
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
