// general styles here

div, p {
    box-sizing: border-box;
}

html {
    line-height: 1.42857rem; // golden ratio ;)
    font-size: 62.5%;
    font-family: $t-main;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    
    &:after {
        display: block;
        content: " ";
    }
}