// Define main variables here

// text vars
$t-main: 'Roboto', sans-serif;
$t-default-size: 12px;

// breakpoints
$b-mob: 320px;
$b-tab: 720px;
$b-desk: 1024px;
$b-xlarge: 1400px;

// colors
$c-main : #e03c55;
$c-second : #fff;
$c-text-main: #000;

// z-index levels
$z-top: 99999;
$z-high: 200;
$z-base: 1;