%spaceVH {
  margin: 10vh 0;
}

.example {
  font-size: 1.6rem;
  color: $c-text-main;

  .screen {
    padding: 0 5vw;
  }

  .screen--1 {
    background-image: url("/public/img/feuilles.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: $z-base;
  }

  .screen--2 {
    margin-top: 100vh;
    background: $c-second;
    position: relative;
    z-index: $z-high;
  }

  .screen--3 {
    padding: 5vh;
    background: $c-main;
    display: block;
    position: relative;
    z-index: $z-high;
    min-height: 0;
  }

  &__logo {
    max-width: 10vw;
    margin-bottom: 5vh;
    fill: $c-main;
  }

  &__title {
    margin: 5vh 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.1rem;
    color: $c-main;

    &--switch {
      color: $c-second;
    }

    @include breakpoint($b-desk) {
      font-size: 4rem;
    }
  }

  &__description {
    font-size: 1.4rem;

    @include breakpoint($b-desk) {
      font-size: 1.2rem;
      width: 50vw;
    }
  }

  &__img {
    max-width: 30vw;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5vw;
    @extend %spaceVH;

    @include breakpoint($b-tab) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($b-desk) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    box-shadow: 0px 3px 10px 0px rgba(176, 176, 176, 0.7);
    padding: 2vh;
    text-align: left;
    line-height: 1.4em;
  }

  &__more {
    line-height: 2em;
  }

  &__mentions {
    color: $c-second;
    margin-top: 10vh;
    font-size: 1rem;
  }
}
