{# EXAMPLE OF TWIG FUNCTIONNALITY #}
{% extends "../template/main.twig" %}
{% set pageTitle = 'example page' %}
{% block body %}
    <div class="example">
        {# THIS COMMENT WILL NOT BE RENDERED #}
        <!-- THIS ONE WILL BE -->

        {% include "./partials/screen1.twig" %}

        {% include "./partials/screen2.twig" %}

        {% include "./partials/screen3.twig" %}

    </div>
{% endblock %}
